/* .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  } */

  // .example-container {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: #eee;
  // }
  

   .app-sidenav-container {
    flex: 1;    
    position: fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;   
  }

  .app-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .app-sidenav {
    width: 240px;
  }

  .wrapper{
    margin:50px;
  }