<mat-sidenav-container class="app-sidenav-container" autosize>
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">Projects</mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let project of projects">            
                <a matLine [routerLink]="['/shell/applyToProject', project._id]">
                    <mat-icon svgIcon="svg-1"></mat-icon>{{ project.projectName }}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>

        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>